<div *ngIf="employeeForm">
  <form [formGroup]="employeeForm">
    <div class="wrapper">
      <input id="name" type="text" formControlName="name" placeholder=" " (blur)="onBlur('name')" />
      <label for="name">Full Name</label>
    </div>
    <div class="wrapper">
      <input id="jobTitle" type="text" formControlName="jobTitle" placeholder=" " (blur)="onBlur('jobTitle')" />
      <label for="jobTitle">Job Title</label>
    </div>
    <div class="wrapper">
      <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder=" " (blur)="onBlur('phoneNumber')"/>
      <label for="phoneNumber">Phone Number</label>
      <div class="error" *ngIf="employeeForm.get('phoneNumber').dirty">
        <span *ngIf="employeeForm.get('phoneNumber').errors?.['invalid']">Must be format ###-###-####</span>
      </div>
    </div>
    <div class="wrapper">
      <input id="fax" type="text" formControlName="fax" placeholder=" " (blur)="onBlur('fax')" />
      <label for="fax">Fax Number</label>
      <div class="error" *ngIf="employeeForm.get('fax').dirty">
        <span *ngIf="employeeForm.get('fax').errors?.['invalid']">Must be format ###-###-####</span>
      </div>
    </div>
    <div class="wrapper">
      <input id="email" type="text" formControlName="email" placeholder=" " (blur)="onBlur('email')" />
      <label for="email">Email</label>
      <div class="error" *ngIf="employeeForm.get('email').dirty">
        <span *ngIf="employeeForm.get('email').errors?.['invalid']">Must be format abc@email.net</span>
      </div>
    </div>
    <div>
      <button class="form-padding" (click)="onSumbit()">{{employee ? 'Edit Employee' : 'Add Employee'}}</button>
      <span *ngIf="!employeeForm.valid && employeeForm.dirty" class="error">Add Missing Form Values</span>
    </div>
  </form>
</div>
