<div class="table-container" *ngIf="isLoaded">
  <grid [gridModel]="gridModel" (onUpdate)="onAddUpdate($event)" (onDelete)="onDelete($event)">
    <ng-template let-model>
      Job Title: {{model.jobTitle}}, Fax: {{model.fax}}
    </ng-template>
  </grid>
 
  <button *ngIf="!enableAddUpdate" type="button" (click)="onAddUpdate()">New Employee</button>
  <button *ngIf="enableAddUpdate" type="button" (click)="onCloseAddUpdate()">Cancel</button>

</div>

<div class="crud-container">
  <employee-crud *ngIf="enableAddUpdate" [employee]="employeeToUpdate" (save)="onSave($event)"></employee-crud>
</div>
