/* You can add global styles to this file, and also import other style files */

.error {
    color: red;
}

.crud-container {
  padding-left: 6px;
  display: flex;
  align-content: flex-end;
}

.form-padding {
  padding: 6px;
}


