:host {
  font-family: Arial;
  width: 100%;
}

.header {
    font-weight: 700;
    font-size: 2rem
}

.container {
  display: flex;
  flex-direction: column;
}

.employee-container {
    width: 100%;
}

.project-container {
    width: 100%;
}
